/* @import "tailwindcss"; */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fafafa;
}

input, button {
  padding: 10px;
  font-size: 16px;
}

button {
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}
